.home {
  color: black;
}
.top-section {
  margin: 0;
  height: 80vh;
  background-image: url("Home.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.top-section h1 {
  font-size: 40px;
  -webkit-text-stroke: 1px black;
  margin: 0;
  color: white;
  padding-top: 200px;
}

.intro {
  text-align: center;
  padding: 20px 80px;
}